/* .org-button {
    position:relative; */
    /* color: white; */
    /* text-transform: none; */
/* } */


.ownBox {
    /* marginTop: theme.spacing(15), */
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    background-color: '#2ED47A';
}